@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Tilt+Neon&display=swap');


/* ------------------------------COLOURS */

body {
    background-color: #92BBFF;
}

.ui-menu-color-home {
    background-color: #9f2305;
    padding: 0;
    min-width: 114px;
    max-width: 114px;
}

.ui-menu-color-todo {
    background-color: #aa2704;
    padding: 0;
    min-width: 114px;
    max-width: 114px;
}

.ui-menu-color-pictures {
    background-color: #9a0200;
    padding: 0;
    min-width: 114px;
    max-width: 114px;
}


.ui-menu-color-getaway {
    background-color: #850e04;
    padding: 0;
    min-width: 114px;
    max-width: 114px;
}

#menu a :hover {
    background-color: #fff;
    color: #850e04;
}

section {
    background-color: #ACCBFF;
}

/*--------------------------------HEADER TEXT DESIGN*/

span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
}

#logo {
    float: left;
    font-family: "Tilt Neon", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 300%;
    color: #1e1666;
}

#social {
    list-style-type: none;
    margin-top: 20px;
    width: 200px;
    letter-spacing: 3px;
    float: right;
    margin-right: 10px;
}



/*--------------------------------HEADER DESIGN*/

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.active>span {
    border-bottom: 2px solid #1e1666;
}

/*--------------------------------FONT AWESOME STYLING*/

#hometag {
    color: white;
    font-size: 36px;
    text-align: center;
}

#socials {
    color: #1e1666;
    font-size: 36px;
}

/*--------------------------------FOOTER*/

footer {
    background-image: url(../images/wirral.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin-top: 5px;
}

/*--------------------------------TEXT DESIGN*/

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100px;
    font-size: 20px;
    color: #1e1666;
}

.main-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100px;
    font-size: 20px;
    color: #1e1666;
    padding: 2rem;
}

#welcome {
    color: #1e1666;
    text-align: center;
}

/*--------------------------------HOME SECTION DESIGN*/

#ferry {
    background-image: url(../images/ferry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px;
}

/*--------------------------------WIN FORM*/

.win-form {
    background-size: cover;
    background-position: center;
    background-color: #9a0200;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    border-style: dotted;
    border-color: #1e1666;
    border-radius: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.block-label {
    color: #850e04;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

/*--------------------------------PICTURES*/

#photos {
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
}

/*--------------------------------THINGS TO DO*/

.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border: 0%;

}


.container2 {
    width: 30%;
    text-align: center;
    border: #850e04;
    border-style: solid;
    color: #850e04;
}


/*--------------------------------THANK YOU*/

#received {
    padding: 10px;
    text-align: center;
    color: #850e04;
}

.thanks {
    text-align: center;
    border-bottom: 50px;
}